services:
  - type: web
    name: oroeye-app
    runtime: python
    buildCommand: pip install -r backend/requirements.txt
    startCommand: gunicorn --chdir backend --bind 0.0.0.0:$PORT --timeout 120 --workers 1 app:app
    healthCheckPath: /
    envVars:
      - key: MONGO_URI
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: OPENAI_API_KEY
        sync: false
      - key: PYTHON_VERSION
        value: 3.11.0
